appdirs==1.4.4
astroid==2.8.2
audioread==2.1.9
autopep8==1.5.7
bidict==0.21.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cycler==0.11.0
decorator==5.1.0
ffmpeg==1.4
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
idna==3.3
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
librosa==0.8.1
llvmlite==0.37.0
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
numba==0.54.1
numpy==1.20.3
packaging==21.2
Pillow==8.4.0
platformdirs==2.4.0
pooch==1.5.2
pycodestyle==2.8.0
pycparser==2.21
pydub==0.25.1
pylint==2.11.1
PyMySQL==1.0.2
pyparsing==2.4.7
pysubs2==1.3.0
python-dateutil==2.8.2
python-engineio==4.2.1
python-socketio==5.4.1
requests==2.26.0
resampy==0.2.2
scikit-learn==1.0.1
scipy==1.7.2
six==1.16.0
SoundFile==0.10.3.post1
srt==3.5.0
threadpoolctl==3.0.0
toml==0.10.2
torch==1.8.1
torchaudio==0.8.1
typing_extensions==4.0.0
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.12.1
